<% session[:flow] = 'reset' %>

<%= link_to 'Cadastrar gênero', new_genre_path %>

<h1>Generos:</h1>

<ul>
  <% @genres.each do |g| %>
  <li><%= link_to g.name, genre_path(g.id) %></li>
  <% end %>
</ul>